<% provide :title, t("layouts.header.home") %>
<% unless user_signed_in? %>
  <div class="center jumbotron">
    <h1><%= t ".welcome" %></h1>
  </div>
<% else %>
  <%= render "shared/activities" %>
<% end %>
<%= render_shareable %>
