<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="text-center">
        <%= t "activity" %>
    </h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <%= render_activities @activities %>
    </ul>
  </div>
</div>
