<div class="row">
  <div class="col-md-offset-10">
    <%= search_form_for [:admin, @q] do |f| %>
      <%= f.search_field :content_or_subject_name_cont, placeholder: t("questions.search_placeholder"),
        class: "form-control" %>
      <div class="col-md-8">
        <%= f.submit class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
