@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */


body {
  padding-top: 60px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #2794AF;
  a {
    color: #2794AF;
    &:hover {
      color: #a1dbe9;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms signup css */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.navbar-default {
  background-color: #2794af;
  border-color: #b5dadc;
}

.navbar-default .navbar-nav > li > a {
  color: #f1efec;
}

.jumbotron {
  text-align: left;
}
.background {
}

.remove_fields {
  color: red;
  cursor:pointer;
  &:hover {
    text-decoration: underline;
  }
}

.correct_answer {
  color: green;
  cursor:pointer;
}

.add_child {
  cursor:pointer;
  color: blue;
  font-weight: bold;
  font-size: 1.6em;
  &:hover {
    text-decoration: underline;
  }
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  position: fixed;
  top: 2em;
  right: 1em;
  & > div{
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    background: #44A5BD;
    display: inline-block;

    & > span{
      padding: 15px;
      border-radius: 3px;
      background: #327C8E;
      display: inline-block;
    }
  }
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

.radio-answer{
  font-weight: normal;
}

label {
  display: inline;
  font-weight: normal;
  padding-left: 15px;
}
#answer_id {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
input.radio_exams, .checkbox_answer {
  width: inherit;
}
